<div id="header-wrapper">
    <div id="header" class="container">
        <div id="logo">
            <h1><a href="#">Weather Forecast</a></h1>
        </div>
        <div id="menu">
            <ul>
                <li class="current_page_item"><a href="#" accesskey="1" title="">Home</a></li>
                <li><a href="weather" accesskey="2" title="">Weather</a></li>
                <li><a href="#" accesskey="3" title="">About Us</a></li>
                <li><a href="#" accesskey="4" title="">Careers</a></li>
                <li><a href="#" accesskey="5" title="">Contact Us</a></li>
            </ul>
        </div>
    </div>
</div>