<!-- <app-user-setting></app-user-setting> -->
<div class ="container">
    <div class ="row">
        <div class ="col-sm-4">
            <a [routerLink]="['/user']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">User Settings</a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/register']" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">Registration</a>
        </div>
        <div class="col-sm-4">
            <a [routerLink]="['/contact']" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}">Contact Us</a>
        </div>
    </div>
</div>
<router-outlet></router-outlet>
