<div id="extra" class="container">
    <div class="title">
        <h2>Extra container</h2>
        <span class="byline">Donec leo, vivamus fermentum nibh in augue praesent a lacus at urna congue</span>
    </div>
    <div id="three-column">
        <div class="boxA">
            <div class="box"> <span class="fa fa-cloud-download"></span>
                <p>Box A.
                </p>
            </div>
        </div>
        <div class="boxB">
            <div class="box"> <span class="fa fa-cogs"></span>
                <p>Box B.</p>
            </div>
        </div>
        <div class="boxC">
            <div class="box"> <span class="fa fa-user"></span>
                <p>Box C.</p>
            </div>
        </div>
    </div>
    <ul class="actions">
        <li><a href="#" class="button">Action Button</a></li>
    </ul>
</div>